.apply__title {
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    margin-top: 80px;
    margin-bottom: 24px;
}

.apply__sub-title {
    margin-bottom: 120px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #c8c7d8;
}
