<header class="header">
    <div [class]="isHamburgerMenuActive ? 'header__wrapper dark' : 'header__wrapper'">
        <!-- LOGO -->
        <a [href]="logo['link']" class="header__logo logo">
            <img [src]="logo['image']" alt="logo image" />
        </a>

        <div class="header__box">
            <nav [class]="isHamburgerMenuActive ? 'header__menu active' : 'header__menu'">
                <ul class="header__list">
                    <!-- LOOP OVER -->
                    <li *ngFor="let item of navMenu" class="header__list-item">
                        <a [href]="item['link']" class="header__link">{{ item.title }}</a>
                    </li>
                </ul>
                <div class="header__menu-bottom">
                    <!-- LOOP OVER -->
                    <a *ngFor="let social of socials" [href]="social['link']" class="header__menu-bottom-link">
                        <img [src]="social['image']" alt="social icon" />
                    </a>
                </div>
            </nav>

            <a [href]="button['link']" class="header__cta button" [innerHTML]="button['title']"></a>

            <div
                [class]="isHamburgerMenuActive ? 'header__hamburger-menu active' : 'header__hamburger-menu'"
                (click)="toggleHamburgerMenu()"
            >
                <span></span>
            </div>
        </div>
    </div>
</header>
