.grants__title {
    margin: 80px 0 40px;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    @media (max-width: 992.98px) {
        font-size: calc(32px + (60 - 32) * ((100vw - 320px) / (1224 - 320)));
    }
    @media (max-width: 767.98px) {
        margin: 40px 0;
    }
}

.grants__tab-triggers {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
    @media (max-width: 992.98px) {
        display: none;
    }
}

.grants__tab-triggers--slider {
    display: none;
    @media (max-width: 992.98px) {
        display: block;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 7px;
            right: -70px;
            background: url("../../../assets/images/icons/angle.svg") 0 0 no-repeat;
            transform: rotate(90deg);
            pointer-events: none;
            background-size: contain;
            opacity: 0.5;
            width: 40px;
            height: 40px;
        }
    }
    @media (max-width: 992.98px) and (max-width: 895px) {
        &:before {
            right: -35px;
        }
    }
    @media (max-width: 992.98px) and (max-width: 767.98px) {
        &:before {
            right: -10px;
        }
    }
}

.grants__tab-triggers--slider .grants__tab-trigger {
    white-space: nowrap;
}

@media (max-width: 600px) {
    .grants__tab-trigger {
        font-size: 14px;
    }
}
.grants__button {
    display: inline-flex;
    align-items: center;
    margin-bottom: 50px;
    cursor: pointer;
}
.grants__button input:checked + .grants__button-check {
    background-color: #6966ff;
}
.grants__button input:checked + .grants__button-check:after {
    transform: translateX(70%);
}

.grants__button-check {
    margin-right: 16px;
    width: 34px;
    height: 14px;
    background-color: #999;
    border-radius: 25px;
    transition: all 0.3s;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: -3px;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: #fff;
        transition: all 0.3s;
        border-radius: 50%;
    }
}

.grants__button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #c8c7d8;
}
.grants__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    @media (max-width: 992.98px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grants__item {
    background: #393953;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}
.grants__item-category {
    margin-bottom: 8px;
    @media (max-width: 479.98px) {
        line-height: 1.5;
    }
}
.grants__item-category,
.grants__item-amount {
    font-family: "Anonymous Pro", monospace;
    color: #c8c7d8;
}
.grants__item-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
    a:hover {
        text-decoration: underline;
    }
    @media (max-width: 479.98px) {
        font-size: 20px;
    }
}

.grants__item-amount {
    margin-bottom: 16px;
    @media (max-width: 479.98px) {
        span {
            display: block;
            line-height: 1.5;
        }
    }
}

.grants__item-avatars {
    a {
        transition: all 0.3s;
        &:hover {
            opacity: 0.5;
        }
    }
}

.grants__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 90px;
    flex-grow: 1;
    @media (max-width: 600px) {
        margin-bottom: 50px;
    }
}

.trigger {
    padding: 16px 20px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 7px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s;

    &.active {
        background-color: #393953;
        &:hover {
            background-color: #393953;
        }
    }

    &:hover {
        background-color: #333;
    }
}

.input-hidden {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}
