.faq {
    margin-bottom: 160px;
    @media (max-width: 767.98px) {
        margin-bottom: 80px;
    }
}

.faq__wrapper {
    text-align: center;
}

.faq__title {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: -2px;
        right: -20px;
        background: url("../../../assets/images/content/faq-decoration.png") 0 0 no-repeat;
        width: 230px;
        height: 64px;
    }
    @media (max-width: 587px) {
        &:after {
            right: 50%;
            top: auto;
            bottom: -13px;
            transform: translateX(50%);
        }
    }
    @media (max-width: 479.98px) {
        font-size: 32px;
        line-height: 55px;
        &:after {
            bottom: -8px;
        }
    }
}

.faq__text {
    margin-bottom: 80px;
    @media (max-width: 479.98px) {
        margin-bottom: 40px;
    }
}

.faq__items {
    text-align: left;
}

.faq__item:nth-child(1) .faq__item-title {
    border-top: 1px solid #393953;
}

.faq__item-title {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    padding: 25px 0;
    padding-right: 20px;
    border-bottom: 1px solid #393953;
    line-height: 24px;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 4px;
        background: url("../../../assets/images/icons/plus.svg") 0 0 no-repeat;
        background-size: contain;
        width: 32px;
        height: 32px;
        transition: all 0.3s;
    }
    &.active:after {
        transform: rotate(45deg);
        top: 35%;
    }

    @media (max-width: 767.98px) {
        & {
            font-size: 16px;
            padding-right: 50px;
        }
    }
}

.faq__item-text {
    font-weight: 400;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    line-height: 24px;
    color: #c8c7d8;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
    &.active {
        padding: 25px 0;
        height: auto;
        border-color: #393953;
    }
    @media (max-width: 479.98px) {
        font-size: 14px;
    }
}

.freqs__title {
    font-size: 58px;
    margin-bottom: 120px;
    margin-top: 80px;
    text-align: center;
    font-weight: 700;
    line-height: 72px;
    @media (max-width: 767.98px) {
        font-size: calc(30px + (54 - 30) * ((100vw - 320px) / (1224 - 320)));
        margin-bottom: calc(80px + (120 - 80) * ((100vw - 320px) / (1224 - 320)));
        line-height: calc(40px + (72 - 40) * ((100vw - 320px) / (1224 - 320)));
    }
}

.freqs__section-title {
    display: inline-block;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 15px;
    font-style: italic;
    border-bottom: 2px solid #fff;
    line-height: 32px;
    margin-bottom: 25px;
    @media (max-width: 767.98px) {
        font-size: 25px;
    }
}

.freqs__section {
    margin-bottom: 80px;
}
