.programs {
    margin: 80px 0 160px;
    @media (max-width: 767.98px) {
        margin: 40px 0 80px;
    }
}

.programs__wrapper {
    text-align: center;
    max-width: 810px;
    margin: 0 auto;
}
.programs__title {
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    @media (max-width: 992.98px) {
        font-size: calc(30px + (60 - 30) * ((100vw - 320px) / (1224 - 320)));
        margin-bottom: 20px;
    }
}

.programs__triggers {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    @media (max-width: 600px) {
        display: none;
        margin-bottom: 40px;
    }
}
.programs__triggers--slider {
    display: none;
    @media (max-width: 600px) {
        display: block;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            top: 6px;
            right: -11px;
            background: url("../../../assets/images/icons/angle.svg") 0 0 no-repeat;
            background-size: contain;
            transform: rotate(90deg);
            opacity: 0.5;
            pointer-events: none;
            width: 40px;
            height: 40px;
        }
    }
    @media (max-width: 479.98px) {
        &:after {
            top: 1px;
        }
    }
}

@media (max-width: 479.98px) {
    .programs__trigger {
        font-size: 14px;
        padding: 12px 20px;
    }
}

.programs__items {
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.programs__item {
    background: #393953;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 767.98px) {
        flex-direction: column;
        position: relative;
    }
}
.programs__item-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
    display: inline-block;
    &:hover {
        text-decoration: underline;
    }
    @media (max-width: 479.98px) {
        padding-right: 50px;
    }
}

.programs__item-category {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: "Anonymous Pro", monospace;
    letter-spacing: 1px;
    color: #c8c7d8;
    margin-bottom: 16px;
}
.programs__item-description {
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    @media (max-width: 767.98px) {
        margin-bottom: 16px;
    }
    @media (max-width: 479.98px) {
        font-size: 14px;
    }
}
.programs__item-right {
    display: flex;
    column-gap: 16px;
}
.programs__item-amount {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    transform: translateY(5px);
}
.programs__item-link {
    transition: all 0.3s;
    &:hover {
        opacity: 0.4;
    }
    @media (max-width: 767.98px) {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.trigger {
    padding: 16px 20px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 7px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s;

    &.active {
        background-color: #393953;
        &:hover {
            background-color: #393953;
        }
    }

    &:hover {
        background-color: #333;
    }
}
