.blog {
    margin: 80px 0 160px;
}

.blog__title {
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 80px;
}

.blog__wrapper {
    max-width: 810px;
    margin: 0 auto;
    text-align: center;
}

.blog__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    gap: 24px;
    margin-bottom: 80px;
}

.blog-item,
.blog__item {
    flex: 0 1 48%;
    background-color: #393953;
    border-radius: 16px;
    @media (max-width: 767.98px) {
        flex: 0 1 392px;
    }
}
.blog-item__pic {
    display: block;
    img {
        max-width: 100%;
        transition: all 0.3s;
    }
    &:hover img {
        transform: scale(1.05);
    }
}

.blog-item__body {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 200px;
    padding: 24px;
    @media (max-width: 479.98px) {
        min-height: 175px;
    }
}
.blog-item__sup-title {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #c8c7d8;
    margin-bottom: 8px;
    @media (max-width: 479.98px) {
        font-size: 14px;
    }
}
.blog-item__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    flex-grow: 1;
    margin-bottom: 10px;
    &:hover {
        text-decoration: underline;
    }
    @media (max-width: 479.98px) {
        font-size: 20px;
    }
}

.blog-item__date {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-size: 16px;
    color: #c8c7d8;
    @media (max-width: 479.98px) {
        font-size: 14px;
    }
}

.trigger {
    padding: 16px 20px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 7px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s;

    &.active {
        background-color: #393953;
        &:hover {
            background-color: #393953;
        }
    }

    &:hover {
        background-color: #333;
    }
}

.blog__triggers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 80px;
}

.blog__button {
    display: inline-block;
    padding: 12px 30px;
    background-color: #393953;
    color: #fff;
    border-radius: 7.29px;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.3s;
    &:hover {
        opacity: 0.5;
    }
}
